{% extends "matega/base.html" %}
{% load static %}

{% block content %}
<div class="container4 row">
<h1 class="col s12 m12 l12 a-heading ">Rate this recipe</h1>

<ul class="row s12 m12 l12">
    <div class="column s12 m12 l12">

    {% csrf_token %}
    {{ form.as_p }}
        <script>
            $(document).ready(function(){
                $('select').formSelect();
            });
        </script>



    <a href="/recipe/{{Recipe.id}}" class="knapp">
        <button value="Rate" class="hungry-button waves-effect waves-light">
            Rate
        </button>
    </a>
    </div>



</ul>
</div>
{% endblock %}