
{% extends 'matega/base.html' %}
{% load staticfiles %}

{% block content %}

<body id = "rp"></body>

<div class="container2">

    <h1>Reset password</h1>
    <p>
     Please enter a valid email, and instructions for resetting password will be sent. 
    </p>

    <form method="post" action="{% url 'rpdone' %}">
      {% csrf_token %}

        <label for="your_email">Email *</label>
        <input id="your_email" type="email" name="your_email" value="{{current_email}}" required>
       
      
      <input type="submit" value="Send" class="resetbutton"/>
      <input type="hidden" name="next" value="{{ next }}" />
      </form>
</div>

{% endblock %}






